// paleta de colores
$color-principal: orange;
$color-secondary:rgb(235, 191, 108);
$color-tertiary: bisque;
$menu-color:  rgb(255, 255, 255);

// tamaño de fuentes
$font-title: "phudu", serif;
$font-texto:'Inter', serif;
$font-tertiary: "roboto slab", serif;
$font-quaternary: "merriweather", serif;
$font-grosa: 600;

// max-width
$max-width: 1550px;



