/* GENERALES */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500&display=swap'); /* phudu */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); /* roboto slab */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /* lato */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); /* merriweather */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* inter */



h1,h2,h3 {
    font-family: 'Roboto Slab', serif; /* fuentes p/titulos */
}

a {
    text-decoration: none;
    color: black;
    /*color negro y chau subrayado para los links*/
}

 /* reset global sacamos el margin y padding que trae por defecto el navegador */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset de img para que ocupen el 100% del contenedor */
img {
    width: 100%;
}



/* estilos del HEADER */

header {
    position: sticky;  /* el sticky se pega a su elemento padre(el body)*/
    top: 0; /* se pega a la parte de arriba*/
    z-index: 1; /* queda por encima en el eje Z */
    font-family: 'Phudu', serif;
    border-bottom: 2px solid rgb(181, 181, 181);
    background-color: rgb(255, 255, 255);
    display: flex; /* se ponen los elementos uno al lado del otro */
    justify-content: space-evenly; /* las 2 cajas del nav se elinean horizontalmente */
    align-items: baseline;
    flex-wrap: wrap;
}

header img {
    width: 150px;
}

nav ul, .navbar-nav {
    display: flex; /* se ponen los elementos uno al lado del otro */
    align-items: center; /* alinea VERTICALMENTE el boton con texto */
    list-style-type: none;
    gap: 40px; /* espacio entre elementos del ul */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#boton {
    background-color: orange;
    font-weight: 500; color: aliceblue;
    padding: 15px 20px;
    border-radius:5px;
    border: 3px solid orange;
    transition: all 0.2s ease;
}

#boton:hover {
    border-color: grey;
}


.nav-item {
    border-bottom: 2px solid white;
    transition: all 0.2s ease;
}

.nav-item:hover {
    border-color: orange;
}


/* CARRUSEL */
#carrusel {
    margin: 0 auto;
    max-width: 1550px;
}


/* QUIENES SOMOS */ /* apliqué grid al quienes somos prefiero flex */


#section-qs {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1550px;
}

.qs-article {
    display: flex; /* se ponen los elementos uno al lado del otro */
    justify-content: space-evenly; /* los elemntos se elinean en el eje */
    flex-wrap: wrap; /* este wrap va bien */
    flex-basis: auto;
}

.qs-articulo {
    width: 700px;
}

#subrayado {
    width: 40px;
    height: 3px;
    margin-top: 20px;
    background-color: orange;
}

.qs-titulo {
    font-weight: 600;
}

.qs-texto {
    margin: 40px auto;
    font-family: 'Inter', serif ;
    font-weight: 600;
}

.mision-vision {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap; /* va bien pero hay que sacarle los bordes cuando se achique */
}

.mv-parrafo {
    font-family: 'Inter', serif ;
    font-weight: 600;
}

.div-mision {
    width: 40%;
    border-right: 1px solid black;
    padding: 20px;
    padding-top: 0px;
    text-align: center;
}

.div-vision {
    width: 40%;
   border-left: 1px solid black;
   padding: 20px;
   padding-top: 0px;
   text-align: center;
}

.ms-titulos {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}


.valores {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; se modifica en version desktop ??? */
    text-align: center;
    margin: 80px;
    margin-bottom: 120px;

}

.div-valores-img {
    width: 200px;
}

.valores-parrafo {
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 14px;
}

/* QUE HACEMOS */
#que-hacemos {
    background-color: rgb(235, 191, 108);
    max-width: 1550px;
    margin: 0 auto;
    border-top:1px solid black;
    border-bottom:1px solid black;
    display: flex;
    align-items: center;
  
}

.qh-div-texto {
    margin: 30px ;
}

#que-hacemos img {
    width: 800px;
}

.qh-titulo {
    font-weight: 600;
}

.espaciado {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 14px;
}


#parrafo-inferior {
    max-width: 1550px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 120px;
    word-spacing: 3px;
    font-family: 'Inter',serif;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid black;
    /* border-top: 1px solid black; */
}

/* NOVEDADES */
#novedades {
    margin: 0 auto;
    max-width: 1550px;
}

#novedades img {
    width: 529px;
}

#novedades video {
    width: 529px;
}

#novedades {
    padding-bottom: 120px;
    border-bottom: 1px solid black;
}

.n-titulo {
    font-size: large;
    margin-top: 40px;
    margin-left: 60px;
    font-family: 'Roboto slab', serif;
}

.n-titulos {
   font-weight: 600;
}

.proyectos-alinear {
    margin: 30px 60px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.novedades-parrafo {
    font-family: 'Inter', serif;
    font-weight: 600;
}

/* DONACIONES */
.d-titulo {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.cajas-container{
    display: flex; /* pone a las cajas una al lado de otra  */
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;

}

.caja {
    width: 315px;
    height: 200px;
    border: 2px solid rgb(133, 133, 133);
}

.fondo{
    font-family: 'Phudu';
    font-size: 20px;
    background-color: bisque;
    padding: 40px 75px 30px 75px;
    margin-top: 0;
}

.boton-donar {
    background-color: rgb(255, 140, 0);
    padding: 10px;
    font-family: 'Phudu';
    font-weight: 500; color: aliceblue;
    display: block;
    margin: 30px 70px;
    border-radius:5px;
    border: 3px solid rgb(255, 140, 0);
    transition: all 0.2s ease;
}

.boton-donar:hover {
    border-color: grey;
}

.cajota {
    display: flex;
}

.div-medio {
    margin: 50px auto;
    font-family: 'roboto slab', serif ;
}

.subtitulo {
   text-align: center;
   margin: 20px auto;
   font-size: 20px;
   font-weight: 600;
}

.subtitulo-dos {
    margin: 15px auto;
    font-size: 18px;
    font-weight: 600;
}

.datos-bancarios {
    font-size: 16px;
    font-weight: 600;
}

#donaciones {
    max-width: 1550px;
    margin: 50px auto;
    border-bottom: 1px solid black;
}

/* CONTACTO */
#contacto{
    display: flex;
    justify-content: space-evenly;
    margin: 40px auto;
    max-width: 1550px;
    flex-wrap: wrap;
}

.segunda-caja {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.caja-contacto  {
    background-color: rgb(204, 204, 204);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(137, 137, 137);
}

.contacto-titulo {
    font-weight: 600;
}

.labels {
    font-family: 'Inter', serif;
    font-weight: 500;
}

#label-achicar {
    font-size: 15px;
}

.imputs-estilo {
    height: 25px;
    border: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
}

.imput-textarea {
    border-radius: 10px;
    width: 300px;
}

.imput-enviar {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}

.imput-orange {
    accent-color: orange;
}

.redes-titulo-telefono {
    font-family: 'Inter';
}

#contacto img {
    width: 40px;
}

.logos-redes {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.redes-titulo {
    font-weight: 600;
    font-size: 30px;
}

.redes-links {
    border-bottom: 2px solid white;
    transition: all 0.2s ease;
}

.redes-links:hover {
    border-color: orange;
}

/* estilos del FOOTER */
footer {
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid gray;
}

footer span {
    font-family: 'Inter';
    padding: 0;
}

footer ul {
    list-style-type: none;
    margin: 40px;
    display: inline-block;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-li {
    font-family: 'Phudu';
    border-bottom: 2px solid white;
    transition: all 0.2s ease;
}

.footer-li:hover {
    border-color: orange;
}

footer img {
    width: 150px;
}


/* pantalla mas grande */
/* @media only screen and (max-width: 992px){
    header {
        background-color: rgb(232, 209, 253);
    }
} */

/* tablet */
/* @media only screen and (max-width: 768px){
    header {
        background-color: rgb(191, 122, 255);
    }
} */

/* fono */
@media only screen and (min-width:320px) and (max-width: 576px){
   
    /* HEADER */
    header {
        background-color: rgb(191, 122, 255);
    }
    
    header img {
        width: 90px;
    }

    /* QUIENES SOMOS */
    .qs-article iframe {
        padding: 0 30px;
    }

    .qs-articulo {
        margin: 50px 30px 0 30px;
    }

    .mision-vision {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .div-mision {
        width: 100%;
        border-right: none;

    }
    .div-vision {
        width: 100%;
        border-left: none;
    }

    .valores {
        flex-wrap: wrap;
        margin: 20px;
    }

    .div-valores-img {
        width: 30%;
    }


    /* QUE HACEMOS */
    #que-hacemos img {
        width: 100%;
    }

    #que-hacemos {
        flex-wrap: wrap;
    }

    .qh-principal {
        flex-wrap: wrap;
    }

    #parrafo-inferior {
        padding: 20px;
        padding-bottom: 5px;
        text-align: justify;
    }

    /* NOVEDADES */
    #novedades img, #novedades video {
        width: 100%;
    }

    .proyectos-alinear {
        margin: 30px auto;
        flex-wrap: wrap;
        gap: 10px;
    }

    .novedades-parrafo {
        text-align: justify;
        padding: 20px;
    }

    #novedades {
        padding-bottom: 30px;
    }

    /* DONACIONES */
    .caja {
        margin-top: 20px;
    }

    .div-medio {
        text-align: center;

    }

    .segunda-caja {
        margin-top: 20px;
    }

    /* FOOTER */
footer {
    flex-wrap: wrap;
}

    footer img {
        width: 110px;
    }

    footer span {
        background-color: rgb(204, 204, 204);
        text-align: center;
        order: 1;
        font-size: 13px;
    }

    footer ul {
        display: none;
    }
}





/* RESPONSIVE  mediaqueris*/
/* agregué header (nav) y carrusel responsive y maxwidth a todas las secciones*/


/* display none y display block */

/* añadir iconos fontawsome*/









