/* GENERALES */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500&display=swap"); /* phudu */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"); /* roboto slab */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); /* lato */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap"); /* merriweather */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); /* inter */
/* fuentes p/titulos */
h1, h2, h3 {
  font-family: "Roboto Slab", serif;
}

/*color negro y chau subrayado para los links*/
a {
  text-decoration: none;
  color: black;
}

/* sacamos el margin y padding que trae por defecto el navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: orange;
  color: white;
}

/* reset de img para que ocupen el 100% del contenedor */
img {
  width: 100%;
}

header {
  font-family: "phudu", serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  box-shadow: 0px 7px 11px -3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 7px 11px -3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 7px 11px -3px rgba(0, 0, 0, 0.15);
}
header img {
  width: 150px;
}
header .navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  list-style-type: none;
}
header .navbar-nav .nav-item {
  border-bottom: 2px solid white;
  transition: all 0.2s ease;
}
header .navbar-nav .nav-item:hover {
  border-color: orange;
}
header .navbar-nav .nav-item #boton {
  background-color: orange;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 15px 20px;
  border-radius: 5px;
  border: 3px solid orange;
  transition: all 0.2s ease;
}
header .navbar-nav .nav-item #boton:hover {
  border-color: grey;
}

#carrusel {
  margin: 0 auto;
  max-width: 1550px;
}

footer {
  background: rgb(227, 164, 45);
  background: radial-gradient(circle, rgb(227, 164, 45) 0%, rgb(254, 168, 97) 37%, rgb(254, 131, 97) 91%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid gray;
}
footer img {
  width: 150px;
}
footer span {
  font-family: "Inter", serif;
  padding: 0;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  margin: 40px;
  padding-left: 0;
}
footer ul li {
  font-family: "phudu", serif;
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: all 0.1s ease;
}
footer ul li:hover {
  border: none;
}

#quienes-somos {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1550px;
  background: rgb(255, 230, 200);
  background: linear-gradient(180deg, rgb(255, 230, 200) 0%, rgb(255, 255, 255) 56%);
}
#quienes-somos .arriba {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-basis: auto;
}
#quienes-somos .arriba .arriba-parrafo {
  width: 700px;
}
#quienes-somos .arriba .arriba-parrafo .arriba-parrafo-titulo {
  font-weight: 600;
}
#quienes-somos .arriba .arriba-parrafo #parrafo-subrayado {
  width: 40px;
  height: 3px;
  margin-top: 20px;
  background-color: orange;
}
#quienes-somos .arriba .arriba-parrafo .arriba-parrafo-texto {
  margin: 30px auto;
  font-family: "Inter", serif;
  font-weight: 600;
}
#quienes-somos .quienes-somos-medio {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
#quienes-somos .quienes-somos-medio .mision {
  width: 610px;
  border-right: 1px solid black;
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}
#quienes-somos .quienes-somos-medio .vision {
  width: 610px;
  border-left: 1px solid black;
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}
#quienes-somos .quienes-somos-medio .qs-titulos {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
#quienes-somos .quienes-somos-medio .qs-parrafo {
  font-family: "Inter", serif;
  font-weight: 600;
}
#quienes-somos .qs-bajo {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  text-align: center;
  padding: 80px;
  padding-bottom: 120px;
}
#quienes-somos .qs-bajo .valores-img {
  width: 200px;
}
#quienes-somos .qs-bajo .valores-titulo {
  background-color: orange;
  border-radius: 80px 0px 81px 0px;
  -webkit-border-radius: 80px 0px 81px 0px;
  -moz-border-radius: 80px 0px 81px 0px;
  border: 23px none #ff6550;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 170px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
#quienes-somos .qs-bajo .valores-titulo p {
  font-family: "merriweather", serif;
  font-weight: 600;
  font-size: 20px;
  color: rgb(68, 68, 68);
}
#quienes-somos .qs-bajo .valores-parrafo {
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 14px;
}

#que-hacemos {
  background-color: rgb(235, 191, 108);
  max-width: 1550px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#que-hacemos .qh-bloque {
  margin: 30px;
}
#que-hacemos .qh-bloque .bloque-titulo {
  font-weight: 600;
}
#que-hacemos .qh-bloque .bloque-lista {
  font-family: "Inter", serif;
  font-weight: 600;
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: 14px;
  margin-top: 30px;
}
#que-hacemos img {
  width: 800px;
}

#parrafo-inferior {
  max-width: 1550px;
  font-family: "Inter", serif;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding: 50px 120px;
  word-spacing: 3px;
  font-size: 15px;
  border-bottom: 1px solid black;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 25%, rgb(248, 242, 235) 68%, rgb(241, 230, 217) 100%);
}

#novedades {
  max-width: 1550px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 120px;
  background-color: rgb(255, 241, 212);
}
#novedades .novedades-proyectos {
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 30px 60px;
}
#novedades .novedades-proyectos .proyectos-parrafo {
  font-family: "Inter", serif;
  font-weight: 600;
}
#novedades video, #novedades img {
  width: 529px;
}
#novedades .novedades-titulo {
  font-family: "roboto slab", serif;
  font-size: large;
  margin-left: 60px;
}
#novedades .novedades-titulo-texto {
  font-weight: 600;
}

#donaciones {
  max-width: 1550px;
  margin: 50px auto;
}
#donaciones .donaciones-titulo {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
#donaciones .donaciones-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}
#donaciones .donaciones-cards .cards-caja {
  width: 315px;
  height: 200px;
  border: 2px solid rgb(133, 133, 133);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s;
  border-radius: 10px;
}
#donaciones .donaciones-cards .cards-caja:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#donaciones .donaciones-cards .cards-caja .fondo {
  font-family: "phudu", serif;
  background-color: bisque;
  font-size: 20px;
  padding: 40px 75px 30px 75px;
  margin-top: 0;
  border-radius: 11px 10px 0px 0px;
  -webkit-border-radius: 11px 10px 0px 0px;
  -moz-border-radius: 11px 10px 0px 0px;
}
#donaciones .donaciones-cards .cards-caja .boton-donar {
  background-color: orange;
  font-family: "phudu", serif;
  padding: 10px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  display: block;
  margin: 30px 70px;
  border: 3px solid orange;
  border-radius: 5px;
  transition: all 0.2s ease;
}
#donaciones .donaciones-cards .cards-caja .boton-donar:hover {
  border-color: grey;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#donaciones .donaciones-info {
  display: flex;
}
#donaciones .donaciones-info .info-texto {
  margin: 50px auto;
  font-family: "roboto slab", serif;
}
#donaciones .donaciones-info .info-texto .info-texto-subtitulo {
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}
#donaciones .donaciones-info .info-texto .subtitulo-dos {
  margin: 15px auto;
  font-weight: 600;
  font-size: 18px;
}
#donaciones .donaciones-info .info-texto .datos-bancarios {
  font-weight: 600;
  font-size: 16px;
}

#contacto {
  max-width: 1550px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 90px 0;
  background-color: rgb(237, 237, 237);
}
#contacto img {
  width: 40px;
}
#contacto .caja-contacto {
  background-color: rgb(204, 204, 204);
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(137, 137, 137);
}
#contacto .caja-contacto .contacto-titulo {
  font-weight: 600;
}
#contacto .caja-contacto .imputs-estilo {
  height: 25px;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 5px;
}
#contacto .caja-contacto .imput-textarea {
  border-radius: 10px;
  width: 300px;
}
#contacto .caja-contacto .imput-enviar {
  font-family: "Inter", serif;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
}
#contacto .caja-contacto .imput-orange {
  accent-color: orange;
}
#contacto .caja-contacto .labels {
  font-family: "Inter", serif;
  font-weight: 500;
}
#contacto .caja-contacto #label-achicar {
  font-size: 15px;
}
#contacto .segunda-caja {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#contacto .segunda-caja .redes-titulo {
  font-weight: 600;
  font-size: 30px;
}
#contacto .segunda-caja .logos-redes {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}
#contacto .segunda-caja .redes-links {
  border-bottom: 2px solid rgb(237, 237, 237);
  transition: all 0.2s ease;
}
#contacto .segunda-caja .redes-links:hover {
  border-color: orange;
}
#contacto .segunda-caja .redes-titulo-telefono {
  font-family: "Inter", serif;
}

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: orange;
  display: inline-flex;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  transition: 0.5s;
  opacity: 0.9;
}
.back-to-top:hover {
  background-color: rgb(255, 179, 36);
  border-radius: 10px;
  transition: 0.5s ease;
}
.back-to-top:hover span {
  transform: scale(1.5);
  transition: 0.5s;
}
.back-to-top span {
  color: rgb(255, 255, 255);
  font-size: 30px;
  transition: 0.5s;
}

/* large screen */
@media only screen and (min-width: 992px) and (max-width: 1260px) {
  /* QUIENES SOMOS */
  .arriba-parrafo {
    margin-top: 40px;
  }
  /* QUE HACEMOS */
  #que-hacemos {
    flex-wrap: wrap;
  }
  #que-hacemos img {
    width: 100%;
  }
  #que-hacemos .qh-bloque {
    flex-wrap: wrap;
  }
  /* NOVEDADES */
}
/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 991px) {
  /* HEADER */
  header img {
    width: 90px;
  }
  /* QUIENES SOMOS */
  .arriba iframe {
    padding: 0 30px;
  }
  .arriba-parrafo {
    margin: 50px 30px 0 30px;
    margin-bottom: 0;
  }
  .quienes-somos-medio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .quienes-somos-medio #mision, .quienes-somos-medio #vision {
    text-align: center;
    border: none !important;
    padding: 10px;
  }
  .qs-bajo {
    flex-wrap: wrap;
  }
  /* QUE HACEMOS */
  #que-hacemos {
    flex-wrap: wrap;
  }
  #que-hacemos img {
    width: 100%;
  }
  #que-hacemos .qh-bloque {
    flex-wrap: wrap;
  }
  #parrafo-inferior {
    padding: 20px;
    padding-bottom: 5px;
    text-align: justify;
    background: none;
  }
  /* NOVEDADES */
  #novedades {
    padding-bottom: 30px;
  }
  #novedades img, #novedades video {
    width: 100%;
  }
  #novedades .novedades-proyectos {
    margin: 30px auto;
    flex-wrap: wrap;
    gap: 10px;
  }
  #novedades .novedades-proyectos .proyectos-parrafo {
    text-align: justify;
    padding: 20px;
  }
  /* DONACIONES */
  .cards-caja {
    margin-top: 20px;
  }
  .info-texto {
    text-align: center;
  }
  /* CONTACTO */
  .segunda-caja {
    margin-top: 20px;
  }
  /* FOOTER */
  footer {
    flex-wrap: wrap;
  }
  footer img {
    width: 110px;
  }
  footer span {
    background-color: rgb(204, 204, 204);
    text-align: center;
    order: 1;
    font-size: 13px;
    width: 100%;
  }
  footer ul {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
