/* GENERALES */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500&display=swap'); /* phudu */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); /* roboto slab */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /* lato */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); /* merriweather */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* inter */







h1,h2,h3 {
    font-family: 'Roboto Slab', serif; /* fuentes p/body y titulos */
}

a {
    text-decoration: none; 
    color: black;
    /*color negro y chau subrayado para los links*/
}

 /* reset global sacamos el margin y padding que trae por defecto el navegador */
 * {
    margin: 0;
    padding: 0;
    /* NO ME SIRVE PIERDO TODOS LOS MARGENES Y PADDINGS !!! */
}  

/* reset de img para que ocupen el 100% del contenedor */
img {
    width: 100%;
}



/* estilos del HEADER */

header {
    /*position: sticky;*/ /* el sticky se pega a su elemento padre(el body)*/ 
    top: 0; /* se pega a la parte de arriba*/
    z-index: 1; /* queda por encima en el eje Z */
    font-family: 'Phudu', serif;
    border-bottom: 2px solid rgb(181, 181, 181);
    background-color: rgb(255, 255, 255);
    display: flex; /* se ponen los elementos uno al lado del otro */
    justify-content: space-evenly; /* las 2 cajas del nav se elinean horizontalmente */
    align-items: center; /* los alinea en eje y */
    flex-wrap: wrap;


}

header img {
    width: 150px;
}

nav ul {
    display: flex; /* se ponen los elementos uno al lado del otro */
    align-items: center; /* alinea VERTICALMENTE el boton con texto */
    list-style-type: none;
    gap: 40px; /* espacio entre elementos del ul */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#boton {
    background-color: orange;
    font-weight: 500; color: aliceblue; 
    padding: 15px 20px;
    border-radius:5px;
    border: 3px solid orange;
    transition: all 0.2s ease;
}

#boton:hover {
    border-color: grey;
}

.list-item {
    border-bottom: 2px solid white;
    transition: all 0.2s ease;
}

.list-item:hover {
    border-color: orange;
}


/* CARRUSEL */
#carrusel {
    margin: 0 auto;
    flex-wrap: wrap;
}


/* QUIENES SOMOS */ /* apliqué grid al quienes somos prefiero flex */


#section-qs {
    margin-top: 30px;
}

.qs-article {
    display: flex; /* se ponen los elementos uno al lado del otro */
    justify-content: space-evenly; /* los elemntos se elinean en el eje */
    flex-wrap: wrap; /* este wrap va bien */
    flex-basis: auto;
}

.qs-articulo {
    width: 700px; 
}

#subrayado {
    width: 40px;
    margin-top: 20px;
    padding-top: 3px;
    background-color: orange;
}

.qs-texto {
    margin: 40px auto;
    font-family: 'Inter', serif ;
    font-weight: 600;
}

.mision-vision {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap; /* va bien pero hay que sacarle los bordes cuando se achique */
}

.mv-parrafo {
    font-family: 'Inter', serif ;
    font-weight: 600;
}

.div-mision {
    width: 40%;
    border-right: 1px solid black;
    padding: 20px;
    padding-top: 0px; 
    text-align: center;
}

.div-vision {
    width: 40%;
   border-left: 1px solid black;
   padding: 20px;
   padding-top: 0px;
   text-align: center;
}

.ms-titulos {
    font-size: 20px;
    margin-bottom: 10px;
}


.valores {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; se modifica en version desktop ??? */
    text-align: center;
    margin: 80px;
    margin-bottom: 120px;

}

.div-valores-img {
    width: 200px;
}

.valores-parrafo {
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 14px;
}

/* QUE HACEMOS */
#que-hacemos {
    border-bottom: 1px solid black;
}

.qh-principal {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; se modifica en version desktop */
    border-top:1px solid black;
    border-bottom:1px solid black;
    background-color: rgb(235, 191, 108);
}

#que-hacemos img {
    width: 800px;
}

.qh-div-texto {
    margin: 40px;
}

.espaciado {
    margin-top: 30px;
}

.espaciar {
    margin-top: 20px;
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 14px;
}

.parrafo-inferior {
   text-align: center;
   margin: 50px 120px;
   word-spacing: 3px;
   font-family: 'Inter',serif;
   font-weight: 600;
   font-size: 15px;
}

/* NOVEDADES */ 
#novedades img {
    width: 529px;
}

#novedades video {
    width: 529px;
}

#novedades {
    padding-bottom: 120px;
    border-bottom: 1px solid black;
}

.n-titulo {
    font-size: large;
    margin-top: 30px;
}

.n-titulos {   
    font-family: 'Roboto slab';
    margin: 10px 0px;
    margin-left: 60px;
}

.proyectos-alinear {
    margin: 30px 60px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.novedades-parrafo {
    font-family: 'Inter', serif;
    font-weight: 600;
}

/* DONACIONES */
.d-titulo {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
}

.cajas-container{
    display: flex; /* pone a las cajas una al lado de otra  */
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;

}

.caja {
    width: 315px;
    height: 200px;
    border: 2px solid rgb(133, 133, 133);
}

.fondo{
    font-family: 'Phudu';
    font-size: 20px;
    background-color: bisque;
    padding: 40px 75px 30px 75px;
    margin-top: 0;
}

.boton-donar {
    background-color: rgb(255, 140, 0);
    padding: 10px;
    font-family: 'Phudu';
    font-weight: 500; color: aliceblue; 
    display: block;
    margin: 30px 70px;
    border-radius:5px;
    border: 3px solid rgb(255, 140, 0);
    transition: all 0.2s ease;
} 

.boton-donar:hover {
    border-color: grey;
}

.cajota {
    display: flex;
}

.div-medio { 
    margin: 50px auto;
    font-family: 'roboto slab', serif ;
}

.subtitulo {
   text-align: center;
   margin: 20px auto;
   font-size: 20px;
}

.subtitulo-dos {
    margin: 20px auto;
}

#donaciones {
    margin: 50px 0;
    border-bottom: 1px solid black;
}

/* CONTACTO */
#contacto{
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
    flex-wrap: wrap;
}

.segunda-caja {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.caja-contacto  {
    width: 350px;
    height: 470px;
    background-color: rgb(204, 204, 204);
    padding: 30px;
    border-radius: 10px;
}

.caja-contacto h2 {
    margin-bottom: 10px;
}

.labels {
    font-family: 'Inter', serif;
    font-weight: 500; 
}

.imputs-estilo {
    height: 25px;
    border: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
}

.imput-textarea {
    border-radius: 10px;
}

.imput-enviar {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    
}

.imput-orange {
    accent-color: orange;
}

.redes-titulo{
    margin-top: 0;
    margin-bottom: 10px;
}

.telefono {
    font-family: 'Inter';
}

#contacto img {
    width: 40px;
}

.logos-redes {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

/* estilos del FOOTER */
footer {
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid gray;
}

footer span {
    font-family: 'Inter';
    padding: 0;
}

footer ul {
    list-style-type: none;
    margin: 40px;
    display: inline-block;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-li {
    font-family: 'Phudu';
}

footer img {
    width: 150px;
}

@media only screen and (max-width: 768px){
    header {
        padding: 20px;
    }
}



/* añadir iconos fontawsome*/

/* agregar bootstrap */

/* buscar menú hamburquesa de yt */

/* agregar medias queris */

/* agregar anchos maximos a etiquetas padres 
max-width:1500px no se espande mas de 1500px
??? no entendí bien // clase 3 01:35
*/






