footer {
    background-color: $color-principal;
    @include flex( space-evenly, center, null, null);
    border-top: 1px solid gray;

    img {
        width: 150px;
    }
    
    span {
        font-family: $font-texto;
        padding: 0;
    }

    ul {
        @include flex(center, null, 20px, null);
        list-style-type: none;
        margin: 40px;
        padding-left: 0;

        li {
            font-family: $font-title;
            border-bottom: 2px solid $menu-color;
            transition: all 0.2s ease;

            &:hover {
                border-color: $color-principal;
            }
        }
    }
}