// QUIENES SOMOS
#quienes-somos {
    margin: 0 auto;
    padding-top: 50px;
    max-width: $max-width;
    background: rgb(255,230,200);
    background: linear-gradient(180deg, rgba(255,230,200,1) 0%, rgba(255,255,255,1) 56%);

    .arriba {
        @include flex(space-evenly, null, null, wrap);
        flex-basis: auto;

        .arriba-parrafo {
            width: 700px;

            .arriba-parrafo-titulo {
                font-weight: $font-grosa;
            }

            #parrafo-subrayado {
                width: 40px;
                height: 3px;
                margin-top: 20px;
                background-color: $color-principal;
            }

            .arriba-parrafo-texto {
                margin: 30px auto;
                font-family: $font-texto ;
                font-weight: $font-grosa;
            }
        }
    }

    .quienes-somos-medio {
        @include flex(center, null, null, null);
        margin-top: 100px;

        .mision {
            width: 610px;
            border-right: 1px solid black;
            padding: 20px;
            padding-top: 0px;
            text-align: center;
        }

        .vision {
            width: 610px;
            border-left: 1px solid black;
            padding: 20px;
            padding-top: 0px;
            text-align: center;
        }

        .qs-titulos {
            font-weight: $font-grosa;
            font-size: 20px;
            margin-bottom: 10px;
        }
        
        .qs-parrafo {
            font-family: $font-texto;
            font-weight: $font-grosa;
        }
    }

    .qs-bajo {
        @include flex(space-evenly,null, 20px, null);
        text-align: center;
        padding: 80px;
        padding-bottom: 120px;

        .valores-img {
            width: 200px;
        }

        .valores-titulo {
            background-color: $color-principal;
            border-radius: 80px 0px 81px 0px;
            -webkit-border-radius: 80px 0px 81px 0px;
            -moz-border-radius: 80px 0px 81px 0px;
            border: 23px none #ff6550;
            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            height: 170px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px auto;

            p {
                font-family: $font-quaternary ;
                font-weight: $font-grosa;
                font-size: 20px;
                color: rgb(68, 68, 68);
            }
            
        }

        .valores-parrafo {
            font-family: $font-texto;
            font-weight: $font-grosa;
            font-size: 14px;
        }
    }
}

// QUE HACEMOS
#que-hacemos {
    background-color: $color-secondary;
    max-width: $max-width;
    @include flex(null, center, null, null);
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    .qh-bloque {
        margin: 30px;

        .bloque-titulo {
            font-weight: $font-grosa;
        }

        .bloque-lista {
            font-family: $font-texto;
            font-weight: $font-grosa ;
            @include flex(null,null, 20px, null);
            flex-direction: column;
            font-size: 14px;
            margin-top: 30px;
        }
    }

    img {
        width: 800px;
    }
}

#parrafo-inferior {
    max-width: $max-width;
    font-family: $font-texto;
    font-weight: $font-grosa;
    margin: 0 auto;
    text-align: center;
    padding: 50px 120px;
    word-spacing: 3px;
    font-size: 15px;
    border-bottom: 1px solid black;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(248,242,235,1) 68%, rgba(241,230,217,1) 100%);
}

//NOVEDADES
#novedades {
    max-width: $max-width;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 120px;
    background-color: rgb(255, 241, 212);

    .novedades-proyectos {
    @include flex(null, center, 80px, null);
        margin: 30px 60px;

        .proyectos-parrafo {
            font-family: $font-texto;
            font-weight: $font-grosa;
        }
    }

    video, img {
        width: 529px;
    }

    .novedades-titulo {
        font-family: $font-tertiary;
        font-size: large;
        margin-left: 60px;

        &-texto {
            font-weight: $font-grosa;
        }
    }

}

// DONACIONES
#donaciones {
    max-width: $max-width;
    margin: 50px auto;

    .donaciones-titulo {
        font-weight: $font-grosa;
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px;
    }

    .donaciones-cards {
        @include flex(space-evenly,null, null, wrap);
        text-align: center;

        .cards-caja {
            width: 315px;
            height: 200px;
            border: 2px solid rgb(133, 133, 133);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transition: all .3s;
            border-radius: 10px;

            &:hover {
                transform: scale(1.1) translateY(-10px);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }

            .fondo{
                font-family: $font-title;
                background-color: $color-tertiary;
                font-size: 20px;
                padding: 40px 75px 30px 75px;
                margin-top: 0;
                border-radius: 11px 10px 0px 0px;
                -webkit-border-radius: 11px 10px 0px 0px;
                -moz-border-radius: 11px 10px 0px 0px;
            }

            .boton-donar {
                background-color: $color-principal;
                font-family: $font-title;
                padding: 10px;
                font-weight: 500; color:$menu-color;
                display: block;
                margin: 30px 70px;
                border: 3px solid $color-principal;
                border-radius:5px;
                transition: all 0.2s ease;

                &:hover{
                    border-color: grey; 
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }
            }
            
        }
    }

    .donaciones-info {
        display: flex;

        .info-texto {
            margin: 50px auto;
            font-family: $font-tertiary ;

            .info-texto-subtitulo {
                font-weight: $font-grosa;
                text-align: center;
                margin: 20px auto;
                font-size: 20px;
            }
            .subtitulo-dos {
                margin: 15px auto;
                font-weight: $font-grosa;
                font-size: 18px;
            }

            .datos-bancarios {
                font-weight: $font-grosa;
                font-size: 16px;
            }
        }
    }
}

// CONTACTO
#contacto {
    max-width: $max-width;
    @include flex(space-evenly,null,null,wrap);
    margin: 0 auto;
    padding: 90px 0;
    background-color: rgb(237, 237, 237);

    img {
        width: 40px;
    }

    .caja-contacto  {
        background-color: rgb(204, 204, 204);
        width: 400px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid rgb(137, 137, 137);

        .contacto-titulo {
            font-weight: $font-grosa;
        }

        .imputs-estilo {
            height: 25px;
            border: 1px solid rgb(164, 164, 164);
            border-radius: 5px;
        }

        .imput-textarea {
            border-radius: 10px;
            width: 300px;
        }
        
        .imput-enviar {
            font-family: $font-texto;
            font-size: 15px;
            font-weight: 500;
            padding: 5px;
        }
        
        .imput-orange {
            accent-color: $color-principal;
        }        

        .labels {
            font-family: $font-texto;
            font-weight: 500;
        }

        #label-achicar {
            font-size: 15px;
        }
    }

    .segunda-caja {
        @include flex(space-evenly,null,null,null);
        flex-direction: column;

        .redes-titulo {
            font-weight: $font-grosa;
            font-size: 30px;
        }

        .logos-redes {
            @include flex(null,null,10px, null);
            list-style-type: none;
            padding: 0;
        }

        .redes-links {
            border-bottom: 2px solid rgb(237, 237, 237);
            transition: all 0.2s ease;

            &:hover {
                border-color: $color-principal;
            }
        }

        .redes-titulo-telefono {
            font-family: $font-texto;
        }
    }
}

// back to top button
.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: $color-principal;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    transition: 0.5s;
    opacity: 0.9;

    &:hover {
        background-color: rgb(255, 179, 36);
        border-radius: 10px;
        transition: 0.5s ease;

        span {
            transform: scale(1.50);
            transition: 0.5s;
        }
    }

    span {
        color: $menu-color;
        font-size: 30px;
        transition: 0.5s;
    }
}

/* large screen */ 
@media only screen and (min-width:992px) and (max-width: 1260px){
    /* QUIENES SOMOS */
    .arriba-parrafo {
        margin-top: 40px;
    }

    /* QUE HACEMOS */
    #que-hacemos {
        flex-wrap: wrap;

        img {
            width: 100%;
        }

        .qh-bloque {
            flex-wrap: wrap;
        }
    }

    /* NOVEDADES */
}


/* Mobile */ 
@media only screen and (min-width:320px) and (max-width: 991px){
   
    /* HEADER */
    header img {
        width: 90px;
    }

    /* QUIENES SOMOS */
    .arriba iframe {
        padding: 0 30px;
    }

    .arriba-parrafo {
        margin: 50px 30px 0 30px;
        margin-bottom: 0
    }

    .quienes-somos-medio {
        @include flex(null, center, null, wrap);
        margin: 0 auto;

        #mision, #vision { 
            text-align: center;
            border: none !important ;
            padding: 10px;
        }

    }
    .qs-bajo {
        flex-wrap: wrap; 
    }

    
    /* QUE HACEMOS */
    #que-hacemos {
        flex-wrap: wrap;

        img {
            width: 100%;
        }

        .qh-bloque {
            flex-wrap: wrap;
        }
    }

    #parrafo-inferior {
        padding: 20px;
        padding-bottom: 5px;
        text-align: justify;
        background: none;
    }

    /* NOVEDADES */
    #novedades {
        padding-bottom: 30px;

        img, video {
            width: 100%;
        }

        .novedades-proyectos {
            margin: 30px auto;
            flex-wrap: wrap;
            gap: 10px;

            .proyectos-parrafo {
                text-align: justify;
                padding: 20px;
            }
        }

    }

    /* DONACIONES */
    .cards-caja {
        margin-top: 20px;
    }

    .info-texto {
        text-align: center;
    }

    /* CONTACTO */
    .segunda-caja {
        margin-top: 20px;
    }

    /* FOOTER */
    footer {
        flex-wrap: wrap;

        img {
            width: 110px;
        }

        span {
            background-color: rgb(204, 204, 204);
            text-align: center;
            order: 1;
            font-size: 13px;
            width: 100%;
        }

        ul {
            display: none;
        }
    }    
}